*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    background-color: #101D42;
}

span p{
        font-size: 1.5rem;
        opacity: 0;
        font-family: Helvetica, sans-serif;
        display: block;
}


#span1:hover p{
            opacity: 1;
            background: #bf1a2f;
            border-radius: 20px;
            color: white;
            padding: 20px;
            padding-right: 50px;
        transition: 0.2s;
        position: relative;
        right: 60px;
        bottom: 120px;
        z-index: -1;
}
#span2:hover p {
    opacity: 1;
    background:#f00699;
    border-radius: 20px;
    color: white;
    padding: 20px;
    padding-left: 50px;
    transition: 0.2s;
    position: relative;
    left: 340px;
    bottom: 130px;
    z-index: -1;
}
#span3:hover p {
    opacity: 1;
    background:#454e9e;
    border-radius: 20px;
    color: white;
    padding: 20px;
    padding-left: 50px;
    transition: 0.2s;
    position: relative;
    left: 380px;
        top: 70px;
    z-index: -1;
}
#span4:hover p {
    opacity: 1;
    background:#018e42;
    border-radius: 20px;
    color: white;
    padding: 20px;
    padding-left: 50px;
    transition: 0.2s;
    position: relative;
    left: 200px;
        top: 250px;
    z-index: -1;
}
#span5:hover p {
    opacity: 1;
    background:#f7d002;
    border-radius: 20px;
    color: white;
    padding: 20px;
    padding-right: 50px;
    transition: 0.2s;
    position: relative;
    right: 290px;
        top: 250px;
    z-index: -1;
}
#span6:hover p {
    opacity: 1;
    background:#0D1317;
    border-radius: 20px;
    color: white;
    padding: 20px;
    padding-right: 50px;
    transition: 0.2s;
    position: relative;
    right: 460px;
    top: 50px;
    z-index: -1;
}

.menu{
   position: relative;
   width: 40%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   
 ;
}

.item a{
    text-decoration: none;
    color: white;
}
#first {
    background: #bf1a2f;
    animation: fadein 2s;
    
}
#first i{
    color: white;
    font-size: 5rem;
    transform: rotate(-60deg);
}

#second {
    background: #f00699;
    animation: fadein 3s;
}
#second i{
color: white;
    font-size: 5rem;
    transform: rotate(-120deg);
}
#third{
    background: #454e9e;
    animation: fadein 4s;
}
#third i{
color: white;
    font-size: 5rem;
    transform: rotate(-180deg);
}
#fourth{
    background: #018e42;
    animation: fadein 5s;
}
#fourth i{
color: white;
    font-size: 5rem;
    transform: rotate(-240deg);
}
#fifth{
    background: #f7d002;
    animation: fadein 6s;
}
#fifth i{
color: white;
    font-size: 5rem;
}
#six{
    background: #0D1317;
    animation: fadein 7s;
}
#six i{
color: white;
    font-size: 5rem;
}
.item{
    height: 150px;
        width: 150px;
        margin: 40px;
        border-radius: 100%;
       
        text-align: center;
        line-height: 200px;
    position: absolute;
    list-style: none;
    left: 0;
    
    transform-origin: 300px;
    transform: rotate(calc(360deg/6 * var(--i)));
    
    
}
.item:hover{
    box-shadow: 0px 0px 15px 5px #000000;
    transition: 0.2s;
    margin-top: 20px;
    border: 4px;
    border-style: dashed;
    border-color:white;
}





@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}